.selectedArtwork-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.artwork-detail {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.artwork-detail p {
  max-width: 500px;
  margin: 0 auto 20px auto;
  line-height: 1.6;
  word-wrap: break-word;
}

.selectedArtwork-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.artwork-title {
  font-family: "bodoni";
}
