.header {
  position: relative;
  height: 80vh;
  width: 100%;
  background-image: url("../../assets/images/spiral.webp");
  background-position: left center;
  background-size: 120% auto;
  background-repeat: no-repeat;
  justify-content: space-between;
  align-items: center;
  color: black;
  text-align: center;
  animation: panBackground 10s ease-in-out infinite alternate;
  position: relative;
}

.header.no-bg {
  background-image: none;
  height: 120px;
}

.header--fade-in {
  animation: fadeIn 1.5s ease-in-out forwards,
    panBackground 20s ease-in-out infinite alternate;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes panBackground {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__logo {
  width: 200px;
  height: 200px;
}
.header__logo.small-logo {
  width: 100px;
  height: 100px;
}

.header__welcome {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: bold;
  color: black;
  margin: 0;
  text-shadow: 0 2px 4px rgba(255, 255, 255, 0.6);
}

.menu-icon {
  margin-right: 40px;
}

@media (max-width: 768px) {
  .header__logo {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 375px) {
  .header__logo {
    width: 100px;
    height: 100px;
  }
}
